@model IEnumerable<object>

@{
    List<Livebet.Models.Sport> listSport = Model.ToList()[0] as List<Livebet.Models.Sport>;
    List<Livebet.Models.Event> listEvents = Model.ToList()[1] as List<Livebet.Models.Event>;
    List<Livebet.Models.Match> listMatch = Model.ToList()[2] as List<Livebet.Models.Match>;
    List<Livebet.Models.Bet> listBet = Model.ToList()[3] as List<Livebet.Models.Bet>;
    List<Livebet.Models.Odd> listOdd = Model.ToList()[4] as List<Livebet.Models.Odd>;


}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Bet</title>
    <script src="/Scripts/jquery-1.11.3.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/local.css" />
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>

</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Views/Default/Index.cshtml">Live Bet</a>
            </div>

            @*<input type="text" value="@Request.QueryString["event"]" />*@


            @*------------------------------------------ Table Events---------------------------------------------------*@
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Chose aEvent<b class="caret"></b></a>

                <ul id="UlEvent" class="dropdown-menu">
                    @foreach (var item in from c in listEvents where c.Sport_ID.ToString() == Request.QueryString["sport"] select c)
                    {
                        int matchesCount = listMatch.FindAll(match => match.Event_ID == item.Id).Count();
                        if (matchesCount != 0)
                        {

                            <li>
                                <a id="@item.Id" href="?sport=@Request.QueryString["sport"]&event=@item.Id"><i class="fa fa-tasks"></i> @item.Name<span class="badge">@matchesCount</span></a>




                            </li>
                        }


                    }

                  

                </ul>
            </li>

            @*--------------------------------------------- table Sports---------------------------------------------*@
            <div class="collapse navbar-collapse navbar-ex1-collapse">


                <ul id="active" class="nav navbar-nav side-nav">

                    @foreach (var item in listSport)
                    {
                        <li id="@item.Id"><a href="?sport=@item.Id&event=0&match=0"><i class="fa fa-user"></i> @item.Name</a></li>
                    }
                    <img src="~/images/3591.jpg" width="220" />

                </ul>



        </nav>

        <div class="row">
            <div class="col-md-12">

            </div>
            @{
                var sportH = (from c in listSport where c.Id.ToString() == Request.QueryString["sport"] select c.Name);
                var eventH = (from c in listEvents where c.Id.ToString() == Request.QueryString["event"] select c.Name);
                var MatchH = (from c in listMatch where c.Id.ToString() == Request.QueryString["match"] select c.Name);
                var BetH = (from c in listBet where c.Id.ToString() == Request.QueryString["bet"] select c.Name);



            }

        </div>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Live Bet <small>@sportH.SingleOrDefault()<a href="?event=@Request.QueryString["event"]"> @eventH.SingleOrDefault() </a> @MatchH.SingleOrDefault() @BetH.SingleOrDefault()</small></h1>

                    <div class="alert alert-dismissable alert-warning">
                        <button data-dismiss="alert" class="close" type="button">&times;</button>
                        Welcome to theLive Bet! Feel free to view free all sport events  .
                        <br />
                        This site provides you a real time live bet experience – you can see up to date information for different sports, sport events, choose from many bet categories and observe odds in real time.
                        Good luck and happy bets!
                    </div>
                </div>
            </div>



            @*--------------------------------------------Table Matches-----------------------*@


            @*<div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-rss"></i> Matches @sportH.SingleOrDefault() @eventH.SingleOrDefault() @MatchH.SingleOrDefault()</h3>*@

                        @*---------------------------*@

                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-rss"></i> Matches</h3>
                                </div>
                                <div class="panel-body ">

                                    <ul id="Matches">
                                        @if (Request.QueryString["event"] == null || Request.QueryString["event"] == "0")
                                        {
                                        <li>Matches start next 2 hours</li>
                                        }
                                        @foreach (var item in from c in listMatch where Request.QueryString["event"]==null|| Request.QueryString["event"] == "0" where c.StartDate>=DateTime.UtcNow&& c.StartDate <= DateTime.UtcNow.AddHours(2) select c)
                                        {
                                            <li><a href="?sport=@Request.QueryString["sport"]&event=@Request.QueryString["event"]&match=@item.Id"><i class="fa fa-tasks"></i> @item.Name -- @item.StartDate</a></li>
                                        }

                                        @foreach (var item in from c in listMatch where c.Event_ID.ToString() == Request.QueryString["event"] select c)
                                        {
                                            
                                            <li><a href="?sport=@Request.QueryString["sport"]&event=@Request.QueryString["event"]&match=@item.Id"><i class="fa fa-tasks"></i> @item.Name -- @item.StartDate UTC</a></li>
                                        }


                                    </ul>

                                </div>

                            </div>
                        </div>
                        @*---------------------------------------*@




            @*----------------------------------------------------------------  table Bets-------*@

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-rss"></i> Bets</h3>
                    </div>
                    <div class="panel-body " >

                        <ul id="Bets">

                            @foreach (var item in from c in listBet where c.Match_ID.ToString() == Request.QueryString["match"] select c)
                            {

                                <li><a href="?sport=@Request.QueryString["sport"]&event=@Request.QueryString["event"]&match=@Request.QueryString["match"]&bet=@item.Id"><i class="fa fa-tasks"></i> @item.Name</a></li>
                            }


                        </ul>

                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-rss"></i> Odds</h3>

                        </div>
                        <div class="panel-body">


                            @*-------------------------------------Table Odds----------------*@

                            @*<table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td>Odd Type</td>
                                        <th>Value</th>
                                        <th>SpetialValue</th>
                                    </tr>
                                </thead>
                                <tbody id="ValueTable"></tbody>
                            </table>
                            <div class="row ">

                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><i class="fa fa-rss"></i> Match</h3>*@


                                            @foreach (var item in from c in listOdd where c.Bet_ID.ToString() == Request.QueryString["bet"] select c)
                                            {

                                                <table id="ValueTable" class="table table-condensed">
                                                    <thead>
                                                        <tr>


                                                            <th>@item.Name</th>




                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td>@item.Value</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Spetial Value</td>
                                                            <td>@item.SpecialBetValue</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            }



                                            @*-------------------------------------------*@



                                            @*Carousel---------------------------------*@
                                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img src="~/images/60139-O9JKZR-142.jpg" alt="...">

                                                        <div class="carousel-caption">
                                                            <h3></h3>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img src="~/images/18.jpg" alt="...">
                                                        <div class="carousel-caption">
                                                            <h3></h3>

                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img src="~/images/american football 2.jpg" alt="...">

                                                        <div class="carousel-caption">
                                                            <h3></h3>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </a>
                                            </div> <!-- Carousel -->

                                        </div>
                                    </div>
                                </div>

                                @*----------------------------------------------------*@

                            </div>
                        </div>
    </div>

    @*<script src="~/Scripts/jquery-1.6.4.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>


   
</body>



</html>



<script>
    //---------------------------------- Sport-----------------------------------------------


    $(function () {
        var chat = $.connection.notificationSportHub;
        chat.client.setValuesSports = function (encodedMsg) {
            $('#active').empty();
            for (var i = 0; i < encodedMsg.length; i++) {

                $('#active').append = $('#active').append('<li id=' + encodedMsg[i].Id + '"><a href="?sport=' + encodedMsg[i].Id + '&event=0&match=0"><i class="fa fa-user"></i> ' + encodedMsg[i].Name + '</a></li>');

            }

        };

     


        $.connection.hub.start().done(function () {

            chat.server.registerNotificationSports();


        });

    });




</script>

@*---------------------------------------------  Events ------------------------------------*@
<script>


    var qery1=@Request.QueryString["sport"];
    var event;


        $(function () {
            var chat = $.connection.notificationEventHub;
            chat.client.setValuesEvents = function (encodedMsg) {
                $('#UlEvent').empty();

                for (var i = 0; i < encodedMsg.length; i++) {
                    event=  (' <li><a id="'+encodedMsg[i].Id+'" href="?sport='+qery1+'&event='+encodedMsg[i].Id+'"><i class="fa fa-tasks"></i> '+encodedMsg[i].Name+'<span class="badge"></span></a> </li>');
                    if(qery1==encodedMsg[i].Sport_ID ){

                        var idItem;
                        if(encodedMsg[i].IsLive==true)
                        {
                            idItem=encodedMsg[i].Id;
                        }


                        $('#UlEvent').append(event);

                        var p = $('a#'+idItem).css("color", "#7CFC00");



                    }
                }
            };

         
            $.connection.hub.start().done(function () {

                chat.server.registerNotificationEvent();



            });
        });


</script>
@*---------------------------------------------  Matches ------------------------------------*@



<script>
    var qery2=@Request.QueryString["event"];
    var match;

        $(function () {
            var chat = $.connection.notificationMatchHub;
            chat.client.setValuesMatches = function (encodedMsg) {

                $('#Matches').empty();
                for (var i = 0; i < encodedMsg.length; i++) {

                    if(encodedMsg[i].Event_ID==qery2){
                        $('#Matches').append(' <li><a class="" href="?sport=@Request.QueryString["sport"]&event='+qery2+'&match=' + encodedMsg[i].Id + '"> <i class="fa fa-tasks"></i>' + encodedMsg[i].Name + '- Type -' + encodedMsg[i].Type + '</br> - Start -' + encodedMsg[i].StartDate + ' </a></li>');
                    }
                }

            };

         

            $.connection.hub.start().done(function () {


                chat.server.registerNotificationMatches();


            });
        });



</script>
@*---------------------------------------------  Bets ------------------------------------*@



<script>

    var qery3=@Request.QueryString["match"];
    var bet;

        $(function () {
            var chat = $.connection.notificationBetHub;
            chat.client.setValuesBets = function (encodedMsg) {

                $('#Bets').empty();
                for (var i = 0; i < encodedMsg.length; i++) {
                    bet=(' <li><a id='+encodedMsg[i].Id+' href="?sport=@Request.QueryString["sport"]&event=@Request.QueryString["event"]&match='+qery3+'&bet='+encodedMsg[i].Id+'"><i class="fa fa-tasks"></i> '+encodedMsg[i].Name+'</a></li>');

                    if(encodedMsg[i].Match_ID==qery3){
                        var idItem;
                        if(encodedMsg[i].IsLive==true)
                        {
                            idItem=encodedMsg[i].Id;
                        }

                        $('#Bets').append(bet);
                        var p = $('a#'+idItem).css("color", "#7CFC00");

                    }
                }

            };

           
            $.connection.hub.start().done(function () {


                chat.server.registerNotificationBets();


            });
        });



</script>
@*---------------------------------------------  Odds ------------------------------------*@



<script>

    var qery4=@Request.QueryString["bet"];
    var odd;

        $(function () {
            var chat = $.connection.notificationOddHub;
            chat.client.setValuesOdds = function (encodedMsg) {

                $('#ValueTable').empty();

                for (var i = 0; i < encodedMsg.length; i++) {
                    odd=('<tr><td>'+encodedMsg[i].Name+'</td><td>'+encodedMsg[i].Value+'</td><td>'+encodedMsg[i].SpecialBetValue+'</td></tr>');
                    if(encodedMsg[i].Bet_ID==qery4){


                        $('#ValueTable').append(odd);

                    }
                }


            };

         


            $.connection.hub.start().done(function () {


                chat.server.registerNotificationOdds();


            });
        });



</script>





